.menubar {
  background-color: #7da0c5;
  color: white;
  font-size: 2rem;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7da0c5;
  color: white;
}
.footer a {
  font-size: 40px;
}
.menubar img {
  width: 80px;
  height: 10%;
}
