.bgimg {
  background-image: url("../Images/image1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 700px;
  color: white;
  font-size: 100px;
  padding: 50px;
}
.container h2 {
  color: rgb(97, 102, 145);
  font-size: 40px;
}

.container p {
  color: rgb(116, 125, 145);
  font-size: 20px;
}

.container ul {
  color: rgb(116, 125, 145);
  font-size: 20px;
}
